/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  flex-basis: auto;
  background-color: transparent;
  width: 150px;
  height: 180px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 10px;
  transition: transform;
  transition-duration: 1s;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform;
  transform-style: preserve-3d;
  border-top-right-radius: 8px;
}

.ready .flip-card-inner {
  transition-duration: 2s;
}

.flip-card.spotlight {
  animation: hithere 1s ease 1;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes hithere {
  30% {
    transform: scale(1.1);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.flip-card.selected .flip-card-inner {
  transform: rotateY(1260deg);
}

.shuffle .flip-card:not(.selected) .flip-card-inner {
  transition-duration: 0.5s;
  transform: rotateY(720deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back img {
  max-width: 150px;
  max-height: 90px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 8px;
}

.flip-card-front svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the back side */
.flip-card-back {
  background-color: #bd92a6;
  color: black;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.flip-card .product-name {
  font-size: 1.2em;
  margin: 5px;
  color: #722828;
}

.flip-card .edit {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.flip-card:hover .edit {
  display: block;
}

.flip-card .owner-name {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #722828;
}
